.animate-text {
    font-family: 'Arial, sans-serif'; /* Adjust the font-family as needed */
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Example gradient */
    background-clip: text;
-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .animate-text span {
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Example gradient */
    background-clip: text;
-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  